{% extends "layout.html" %}
{%block title %}
El Artista
{% endblock %}
{% block main %}
<div class="tex-pages-container">
  <div class="container-artist intro">
    <h1 style="text-align: center;">CALAT33<span class="period">.</span></h1>
    <p>German Cedano, Calat33, artista multidisciplinar comenzó su inmersión en el mundo del arte a través 
      de sus padres ambos artistas gráficos, siendo su madre una 
      de las más importantes dibujantes textiles en Perú.<br><br>
      Estudió Dibujo y Escultura en el Museo de Arte de Lima para posteriormente trabajar durante 3 años 
      en la creación y realización la revista cultural Urbania.<br><br>

      Trabajó en el área de construcción civil y adquirió conocimiento sobre construcciones megalíticas y a
       gran escala. Junto a su hermano, realizó mosaicos de mármol en grandes dimensiones.<br><br>

       Posteriormente estudió Guión cinematográfico y dirección y realización de cine y televisión 
       en el lnstituto del Cine en Madrid.<br><br>

       Fue sólo cuándo llegó a San Sebastián y descubrió el versátil lienzo que podía ser la playa de 
       la Concha cuando creó la figura de Calat33. Desde ese momento se dedica al Sand Art 
       de manera profesional, perfeccionando su técnica de dibujo en la arena con rastrillos 
       de jardinería, y eventualmente convirtiéndose en su principal fuente de inspiración y expresión.<br><br>

          Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la bahía.</p>
    <div style="width: 100%; text-align: center">
      <img src="/static/images/german.jpg" alt="Germán (Calat33) posando con un dibujo en la playa" style="border: 3px solid black">
    </div>
  </div>
</div>

{% endblock %}
