{% extends "layout.html" %}

{% block title %}
{{ session.username }}
{% endblock %}

{% block gradient %}
gradient-bkgd
{% endblock %}

{% block main %}
<div class="form-desktop">
    <h3>Elige tu tema favorito<span class="period">.</span></h3>
    <form method="post" action="/profile" class="palette-container">
        <input type="hidden" name="theme" value="" id="theme" />
        <div class="label-palette">
            <button type="submit" id="default" class="btn btn-warning btn-lg btn-block">Tema Arena</button>
        </div>
        <div class="palette">
            <div class="color-palette text1"></div>
            <div class="color-palette first1"></div>
            <div class="color-palette second1"></div>
            <div class="color-palette third1"></div>
        </div>
        <div class="label-palette">
            <button type="submit" id="blue" class="btn btn-info btn-lg btn-block">Tema Agua</button>
        </div>
        <div class="palette">
            <div class="color-palette text2"></div>
            <div class="color-palette first2"></div>
            <div class="color-palette second2"></div>
            <div class="color-palette third2"></div>
        </div>
        <div class="label-palette">
            <button type="submit" id="dark" class="btn btn-secondary btn-lg btn-block">Tema Oscuro</button>
        </div>
        <div class="palette">
            <div class="color-palette text3"></div>
            <div class="color-palette first3"></div>
            <div class="color-palette second3"></div>
            <div class="color-palette third3"></div>
        </div>
    </form>

    <div class="buttons_settings_profile">
        <a href="/change" class="button"><button style="color:#fff; font-weight:bold">Cambiar contraseña</button></a>

        <a href=" /login" class="button register"><button style="color:#222;font-weight:bold">Salir de la
                sesión</button></a>
    </div>
</div>

{% endblock %}