{% extends "layout.html" %}

{% block title %}
Talleres
{% endblock %}

{% block main %}
<!-- Intro -->
<div class="social-container">
  <div style="width:100%; display: flex; align-items: center; flex-direction:column; margin-top: 1.5rem;">
    <h2>Talleres Sand Art</h2>
    <div style='width: 150px; height:4px; background: var(--first); margin-top: -10px;'></div>
  </div>
  <ul style="margin:2rem;padding:0">
    <li><b>Duración:</b> 3 horas</li>
    <li><b>Horario: 9:00-12:00 </b>ver en el calendario las fechas disponibles cada mes (depende de las mareas).
    </li>
    <li><b>Número de participantes: </b>entre 5 y 20</li>
    <li><b>Material: </b>incluido.</li>

    </li>
    <li><b>Edad: </b>de 5 a 10 años. También se realizan talleres para niños mayores, adolescentes o adultos,
      siempre que se cree un grupo de más de 6. </li>
    <li><b>Objetivo:</b><br>
      <ul type="line">
        <li>Sensibilizar a los niños y niñas sobre el cuidado del medioambiente y especialmente de los mares.
        <li>Incentivar y ejercitar su agudeza creativa.</li>
        <li>Fomentar el trabajo en equipo.</li>
      </ul>
    </li>
    <li><b>¿Quires saber más?</b> Ponte en contacto con nosotros: <a
        href="mailto:calat33@gmail.com"><u>calat33@gmail.com</u></a>
  </ul>
  <!--
  <p>PRESUPUESTO<br>Material - Coste:</p>
  <ul>
    <li>20 rastrillos: 250 €</li>
    <li>1 profesor: 50 €/h =150 €</li>
    <li>2 monitores: 30 €/h = 180 €</li>
    <li>Movilidad:
      <ul type="line">
        <li>Transporte de niños: 1,85 € x 2 viajes x 20 niños: 74 €.</li>
        <li>Transporte del equipo: 1,85 € x 2 viajes x 3 adultos: 11,10 €.</li>
      </ul>
    </li>
  </ul>
  <p>TOTAL: 665,10 €<br>CADA NIÑO: 33,25 €</p>
  -->
  <div class="descripcion-porcentaje">
    <hr>
    <p>Por cada producto, trabajo y taller realizados desde Calat33 destinamos un 4% a instituciones sociales y medioambientales.<br>
        De esta manera queremos incidir activamente en el respaldo y promoción de proyectos sostenibles y con un impacto medioambiental directo. 
        <b>¿Quieres llevar a cabo un proyecto medioambiental?</b> <a href="/contact"><u>¡Contáctanos y mandanos tu proyecto!</u></a> Si lo puedes soñar, puede volverse realidad.<br><br>
        Al mismo tiempo las empresas privadas para las que realizamos trabajos pasan por un filtro muy estricto sobre el los valores que poseen 
        respecto al impacto sobre el medioambiente. 
        </p>
  </div>
  {% endblock %}