* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#fullpage {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: #242424;
}

body {
  background-color: #FFFEFE;
  font-family: "Roboto", sans-serif;
}

main {
  transition: margin-top 0.5s;
  margin-top: 77px;
}

::selection {
  background: #FF6B22;
  color: #FFFEFE;
}

header .info {
  display: flex;
  background-color: #1E1E1E;
  color: #EFEFEF;
  justify-content: space-between;
  font-size: 14px;
}
header .info .contact-header img {
  margin-right: 4px;
}
header .info ul {
  margin: 0 85px;
  display: flex;
}
header .info ul li {
  margin: 7px 12px;
  display: flex;
  align-items: center;
}
header .info .icons-media {
  margin-right: 110px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFEFE;
  box-shadow: 0.5px 0.5px 6px black;
  position: fixed;
  width: 100%;
  transition: top 0.5s;
}
header nav div {
  margin: 12px 100px;
}
header nav div img {
  max-width: 160px;
}
header nav div .anchor-logo {
  margin: 0px;
}
header nav div .anchor-logo:hover {
  border-bottom: none;
}
header nav div a {
  font-size: 18px;
  font-weight: 500;
  margin: 22px;
}
header nav div a:hover {
  color: #FF6B22;
  /* border-bottom: 2px solid $orange; */
}
header nav div a:active {
  color: #FF6B22;
}

footer {
  background-color: #FF6B22;
  padding: 0px 100px;
  color: #FFFEFE;
}
footer .first-footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
}
footer .first-footer .logo-footer {
  max-width: 302px;
}
footer .first-footer .footer-links {
  line-height: 24px;
}
footer .first-footer .footer-links a:hover {
  /* border-bottom: 2px solid $first-white; */
  color: #1E1E1E;
}
footer .first-footer .footer-links a:active {
  color: #1E1E1E;
}
footer .first-footer .footer-links p {
  margin-bottom: 12px;
}
footer .first-footer .footer-links .contact-footer {
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}
footer .first-footer .footer-links .contact-footer img {
  margin-right: 4px;
}
footer .first-footer img {
  max-width: 302px;
}
footer .last-footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #FFFEFE;
}
footer hr {
  background-color: #FFFEFE;
}

@media only screen and (max-width: 1182px) {
  #media {
    display: none;
  }
  #sidebar {
    flex-direction: column;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 116px;
    left: 0;
    background-color: #FFFEFE;
    overflow-x: hidden;
    transition: 0.5s;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sidebar a {
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
  }
  #sidebar a:hover, #sidebar a:active {
    color: #FF6B22;
  }
  nav .logo {
    margin: 12px auto !important;
  }
  .open-sidebar {
    transition: 0.5s;
    margin: auto;
  }
  .hide {
    display: block;
  }
  header .info {
    justify-content: center;
  }
  .photos-section div {
    flex-wrap: wrap;
  }
  .photos-section div img {
    width: 45% !important;
  }
  footer {
    padding: 0 30px;
  }
  footer .first-footer {
    padding: 0;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  footer .first-footer div {
    margin-top: 30px;
  }
  footer .first-footer .contact-footer {
    justify-content: center;
  }
  footer .last-footer {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
