@import '__default.scss';

.container-colabs {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .colabs-container {
        max-width: 650px;
    }

    video, img {
        width:650px;
        border: 2px solid black;
        border-radius: 5px;
    }

    img {
        height: 395px;
    }

    .large {
        height: 750px;
    }

    h3 {
        font-family: 'Montserrat';
        font-size: 25px;
        margin-bottom: 15px;
    }

    .bi-facebook {
        margin-left: 20px;
    }

    a {
        color: $bluegreen;
        margin-bottom: 20px;
    }
}
