@import '__default.scss';

.container-colabs {
    padding: 70px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(/static/media/images/lines_index.png);
    background-size: auto;
    background-repeat: no-repeat;

    .colabs-container {
        margin-top: 30px;
        max-width: 650px;
    }

    video, img {
        width:650px;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    img {
        height: 395px;

    }

    .large {
        height: 750px;
    }

    h3 {
        font-family: 'Montserrat';
        font-size: 25px;
        margin-bottom: 15px;
    }

    .bi-facebook {
        margin-left: 20px;
    }

    .links {
        color: $bluegreen;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        a:hover {
            color: $first-black;
        }

        a:active {
            color: $first-black;
        }

        svg {
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 1182px) {
    
    .banner-layout {

        .first {
            font-size: 40px!important;
        }

        .second {
            font-size: 45px!important;
        }
    }

    .container-colabs {
        padding: 30px!important;

        video, img {
            width: 100%!important;
            height: auto!important;
        }
    }
}
