@import '__default.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.hide {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: $second-black;
}

body {
    background-color: $first-white;
    font-family: 'Roboto', sans-serif;
}

main {
    transition: margin-top .5s;
    margin-top: 77px;
}

::selection {
    background: $orange;
    color: $first-white;
}

header {

    .info {
        display: flex;
        background-color: $first-black;
        color: $second-white;
        justify-content: space-between;
        font-size: 14px;

        .contact-header {

            img {
                margin-right: 4px;
            }
        }

        ul {
            margin: 0 85px;
            display: flex;

            li {
                margin: 7px 12px;
                display: flex;
                align-items: center;
            }
        }

        .icons-media {
            margin-right: 110px;

        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $first-white;
        box-shadow: 0.5px 0.5px 6px black;
        position: fixed;
        width: 100%;
        transition: top 0.5s;
        z-index: 2;

        div {
            margin: 18px 100px;

            img {
                max-width: 270px;
            }

            .anchor-logo {
                margin: 0px;
            } 

            .anchor-logo:hover {
                border-bottom: none;
            }

            a {
                font-size: 18px;
                font-weight: 500;
                margin: 22px;
            }

            a:hover {
                color: $orange;
                /* border-bottom: 2px solid $orange; */
            }

            a:active {
                color: $orange;
            }
        }
    }
}

footer {
    background-color: $orange;
    padding: 0px 100px;
    color: $first-white;

    .first-footer {
        display: flex;
        justify-content: space-between;
        padding: 80px 0px;

        .logo-footer {
            max-width: 302px;
        }

        .footer-links {
            line-height: 24px;

            a:hover {
                /* border-bottom: 2px solid $first-white; */
                color: $first-black;
            }

            a:active {
                color: $first-black;
            }

            p {
                margin-bottom: 12px;
            }

            .contact-footer {
                align-items: center;
                display: flex;
                margin-bottom: 4px;

                img {
                    margin-right: 4px;
                }
            }
        }

        img {
            max-width: 302px;
            margin-bottom: 15px;
        }
    }

    .last-footer {
        text-align: center;
        padding: 20px;
        font-size: 14px;
        border-top: 1px solid $first-white;
    }

    hr {
        background-color: $first-white;
    }
}

@media only screen and (max-width: 1182px) {

    #media {
        display: none;
    }

    #sidebar {
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 116px;
        left: 0;
        background-color: $first-white;
        overflow-x: hidden;
        transition: 0.5s;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
        }

        a:hover, a:active {
            color: $orange;
        }
    }

    nav .logo {
        margin: 18px auto!important;
    }

    .open-sidebar {
        transition: .5s;
        margin: auto;
    }

    .hide {
        display: block;
    }

    header .info {
        justify-content: center;
    }

    .photos-section div {
        flex-wrap: wrap;

        img {
            width: 45%!important;
            margin: 5px auto!important;
            height: 233px!important;
        }
    }

    footer {
        padding: 0 30px;

        .first-footer {
            padding: 0;
            padding-top: 30px;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;

            div {
                margin: 30px auto 0 auto;
            }

            .contact-footer {
                justify-content: center;
            }
        }
        
        .last-footer {
            font-size: 12px;
            margin-top: 30px;
        }
    }



}

