@import '__default.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: $second-black;
}

body {
    background-color: $second-white;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: $orange;
    color: $first-white;
}

header {

    .info {
        display: flex;
        background-color: $first-black;
        color: $second-white;
        justify-content: space-between;
        font-size: 14px;

        .contact-header {

            img {
                margin-right: 4px;
            }
        }

        ul {
            margin: 0 85px;
            display: flex;

            li {
                margin: 7px 12px;
                display: flex;
                align-items: center;
            }
        }

        .icons-media {
            margin-right: 110px;

        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $first-white;
        box-shadow: 0.5px 0.5px 6px black;
        position: sticky;

        div {
            margin: 12px 100px;

            img {
                max-width: 160px;
            }

            .anchor-logo {
                margin: 0px;
            } 

            .anchor-logo:hover {
                border-bottom: none;
            }

            a {
                font-size: 18px;
                font-weight: 500;
                margin: 22px;
            }

            a:hover {
                color: $orange;
                /* border-bottom: 2px solid $orange; */
            }

            a:active {
                color: $orange;
            }
        }
    }
}

.banner-layout {
    background-image: url(/static/media/images/arena-banner.png);
    background-size: cover;
    height: 284px;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 90px;
    padding: 0 100px;

    .first {
        font-size: 80px;
        font-weight: 900;
        color: white;
    }

    .second {
        font-size: 100px;
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
}

footer {
    background-color: $orange;
    padding: 0px 100px;
    color: $first-white;

    .first-footer {
        display: flex;
        justify-content: space-between;
        padding: 80px 0px;

        .logo-footer {
            max-width: 302px;
        }

        .footer-links {
            line-height: 24px;

            a:hover {
                /* border-bottom: 2px solid $first-white; */
                color: $first-black;
            }

            a:active {
                color: $first-black;
            }

            p {
                margin-bottom: 12px;
            }

            .contact-footer {
                align-items: center;
                display: flex;
                margin-bottom: 4px;

                img {
                    margin-right: 4px;
                }
            }
        }

        img {
            max-width: 302px;
        }
    }

    .last-footer {
        text-align: center;
        padding: 20px;
        font-size: 14px;
        border-top: 1px solid $first-white;
    }

    hr {
        background-color: $first-white;
    }
}

