@import '__default.scss';

.first-section {
    padding: 0 100px;
    background-image: url(/static/media/images/lines_index.png);
    background-repeat: no-repeat;
    background-position: left;

    .first {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 89px;
            margin-bottom: 25px;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 40px;
        }
    }

    .second {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                font-size: 25px;
                font-family: 'Montserrat';
                font-weight: 700;
                color: $bluegreen;
            }

            li {
                margin-top: 10px;
            }

            a:hover {
                color: $bluegreen;
            }

            a:active {
                color: $bluegreen;
            }
        }
    }
}

