{% extends "layout.html" %}
{% block title %}Artista{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/artista.css">
<link rel="stylesheet" href="static/css/banners.css">
{% endblock %}
{% block body %}
<main>
    <section class="banner-layout">
        <span class="first">EL ARTISTA</span>
        <span class="second">CALAT33</span>
    </section>
    <section class="first-section">
        <div class="first">
            <img src="/static/media/images/waves_yellow.png" alt="Yellow land symbol">
            <h1>UN POQUITO DE Mí</h1>
        </div>
        <div class="second">
            <div>
                <h1><span>Artista</span><span>multi-</span><span>disciplinar</span></h1>
                <p><b>German Cedano (Calat33),</b> artista multidisciplinar comenzó su inmersión en el mundo del arte a
                    temprana edad, hijo de artistas gráficos. Se formó en dibujo y escultura en el "Museo de Arte de
                    Lima", al mismo tiempo que desempeña funciones en el área de construcción civil, donde entra en
                    contacto con diversas formas de construcción sostenible. Paralelamente se especializa en la
                    realización de mosaicos en mármol en grandes dimensiones con piedras naturales y materiales
                    reciclados.</p>
                <p>Viaja a España donde continúa su preparación artística, e inicia sus estudios de guión
                    cinematográfico en la "Escuela de Escritores de Madrid" y dirección y realización de cine y
                    televisión en el "Instituto Del Cine en Madrid". Tras finalizar sus estudios, iniciará su
                    trayectoria cinematográfica como director, dirigiendo cortometrajes que han sido presentados y
                    premiados en festivales internacionales.</p>
                <p>Durante esos primeros años, también recorre Europa ejerciendo el arte de mimo y estatua viviente
                    donde participa en diversos festivales siendo galardonado en alguno de ellos y participando dos años
                    seguidos en el campeonato mundial de estatuas humanas: "World Living Statues Festival Arnhem"</p>
            </div>
            <div class="zoom">
                <img src="/static/media/images/german.png" alt="German junto a un dibujo">
                <p><b>Es en la bahía de la Concha, en la ciudad de San Sebastián, en uno de sus procesos de
                        experimentación, que se inicia en el Sand Art de manera profesional, donde perfeccionará su
                        técnica y se especializa en la creación de imágenes 3D en grandes dimensiones.</b></p>
                <h2>Utiliza las palabras para expresar sus emociones y dejar un bonito recuerdo a los visitantes de la
                    bahía.</h2>
            </div>
        </div>
    </section>
    <section class="first-section" id="padding-top">
        <div class="second">
            <div>
                <h1><span>Proyecto</span><span>Homo Afectus</span></h1>
                <p>
                    <b>Homo Affectus - Feelfull Human</b> es una iniciativa desarrollada por la artista polaca Lena Witkowska,
                    especialista en el campo de la antropología y el desarrollo humano a través de la cultura.
                </p>
                <p>
                    Calat33, colaboró junto a otros 14 artistas de todo el mundo en esta acción-meditación colectiva,
                    donde se exploran temas sobre la evolución humana, la transición de la humanidad a la siguiente etapa
                    evolutiva del Homo Sapiens, un hombre que piensa, al Homo Affectus, ¨un hombre que siente¨.
                </p>
                <p>
                    Esta obra colectiva fue realizada por artistas a nivel global, en países como Polonia, Brasil,
                    México, España, Australia, EE. UU., Namibia, Holanda, Irlanda, Reino Unido, Nueva Zelanda, Israel.
                </p>
                <p><b>
                    Gracias a la cooperación del proyecto WROCSPACE el material recopilado fue enviado en globo estratosférico hacia el espacio.
                    Donde fueron transmitidos desde la estratosfera. Esta acción simbólica tuvo como objetivo dirigir la voz y sus palabras en dirección a la tierra.
                </b></p>
                <h2>
                    Aquí tienes el vídeo a la cámara a bordo durante el vuelo.
                </h2>
            </div>
            <div class="zoom">
                <iframe src="https://www.youtube.com/embed/dq0vI3FV308?start=852"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="contact-banner">
        <div class="zen-container">
            <div class="image-wrapper">
                <div class="letters-container">
                    <p class="first">¿QUIERES HACER UN <span class="black">REGALO ESPECIAL</span> ?</p>
                    <p class="second">LLÁMAME O ENVÍAME UN EMAIL</span>
                </div>
                <div class="button-container">
                    <a href="/contacto">CONTACTAR</a>
                </div>
            </div>
        </div>
        <div class="recuerdos-container">
            <p class="first">"RECUERDOS IMBORRABLES</p>
            <p class="second">SOBRE LA ARENA"</p>
        </div>
    </section>
    <section class="photos-section">
        <div class="second-row">
            <img src="static/media/images/21.png">
            <img src="static/media/images/22.png">
            <img src="static/media/images/23.png">
            <img src="static/media/images/24.png">
        </div>
    </section>
</main>
{% endblock %}
