{% extends "layout.html" %}
{% block title %}Contacto{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/contacto.css">
<link rel="stylesheet" href="static/css/banners.css">
{% endblock %}
{% block body %}
<main>
    <section class="banner-layout">
        <span class="first">CONTACTO</span>
        <span class="second">ESCRÍBENOS</span>
    </section>
    {% if notification %}
    <p class="notification">{{ notification }}</p>
    {% endif %}
    <section class="first-section">
        <div class="first">
            <span class="up">Si tiene alguna otra consulta o necesita más información sobre nuestros servicios, por favor contactar a:  info@calart.org</span>
            <span class="down">info@calart.org</span>
            <span class="down">(+34)608729296</span>
        </div>
        <div class="second">
            <h2>FORMULARIO</h2>
            <form action="/contacto" method="post">
                <div>
                    <input type="text" id="name" name="name" class="top" placeholder="Nombre">
                    <input type="email" id="email" name="email" class="top" placeholder="Email" required>
                </div>
                <textarea id="subject" name="message" placeholder="Tu mensaje*" required></textarea>
                <input type="submit" value="Submit" class="submit">
            </form> 
        </div>
    </section>
</main>
{% endblock %}
