{% extends "layout.html" %}
{% block title %}Galería{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/galeria.css">
<link rel="stylesheet" href="static/css/banners.css">
{% endblock %}
{% block body %}
<main>
    <section class="banner-layout">
        <span class="first">GALERÍA</span>
        <span class="second">CALART</span>
    </section>
    <section class="container-gallery zoom photos-section">
        <div>
            <img src="static/media/images/1.png">
            <img src="static/media/images/2.png">
            <img src="static/media/images/3.png">
            <img src="static/media/images/4.png">
            <img src="static/media/images/5.png">
            <img src="static/media/images/6.png">
            <img src="static/media/images/7.png">
            <img src="static/media/images/8.png">
            <img src="static/media/images/9.png">
            <img src="static/media/images/10.png">
            <img src="static/media/images/11.png">
            <img src="static/media/images/12.png">
            <img src="static/media/images/13.png">
            <img src="static/media/images/14.png">
            <img src="static/media/images/15.png">
            <img src="static/media/images/16.png">
            <img src="static/media/images/17.png">
            <img src="static/media/images/18.png">
            <img src="static/media/images/19.png">
            <img src="static/media/images/20.png">
            <img src="static/media/images/21.png">
            <img src="static/media/images/22.png">
            <img src="static/media/images/23.png">
            <img src="static/media/images/24.png">
            <img src="static/media/images/25.png">
            <img src="static/media/images/26.png">
            <img src="static/media/images/27.png">
            <img src="static/media/images/28.png">
            <img src="static/media/images/29.png">
            <img src="static/media/images/30.png">
            <img src="static/media/images/31.png">
            <img src="static/media/images/32.png">
            <img src="static/media/images/33.png">
            <img src="static/media/images/34.png">
            <img src="static/media/images/35.png">
            <img src="static/media/images/36.png">
            <img src="static/media/images/37.png">
            <img src="static/media/images/38.png">
            <img src="static/media/images/39.png">
            <img src="static/media/images/40.png">
            <img src="static/media/images/41.png">
            <img src="static/media/images/42.png">
            <img src="static/media/images/43.png">
            <img src="static/media/images/44.png">
            <img src="static/media/images/45.png">
            <img src="static/media/images/46.png">
            <img src="static/media/images/47.png">
            <img src="static/media/images/48.png">
            <img src="static/media/images/49.png">
            <img src="static/media/images/50.png">
            <img src="static/media/images/51.png">
            <img src="static/media/images/52.png">
            <img src="static/media/images/53.png">
            <img src="static/media/images/54.png">
        </div>
    </section>
    <section class="contact-banner">
        <div class="zen-container">
            <div class="image-wrapper">
                <div class="letters-container">
                    <p class="first">¿QUIERES HACER UN <span class="black">REGALO ESPECIAL</span> ?</p>
                    <p class="second">LLÁMAME O ENVÍAME UN EMAIL</span>
                </div>
                <div class="button-container">
                    <a href="/contacto">CONTACTAR</a>
                </div>
            </div>
        </div>
        <div class="recuerdos-container">
            <p class="first">"RECUERDOS IMBORRABLES</p>
            <p class="second">SOBRE LA ARENA"</p>
        </div>
    </section>
</main>
{% endblock %}
