{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}
{% block body %}
<main>
    <section class="first-section">
        <div class="images">
            <img src="/static/media/images/waves_blue.png" class="waves">
            <div class="title">
                <p class="up">CALAT 33</p>
                <p class="down">SAND ART</p>
            </div>
        </div>
    </section>
    <section class="second-section">
        <div class="zen-container">
            <div class="image-wrapper">
                <div class="letters-container">
                    <p class="first">¿QUIERES HACER UN  <span class="black">REGALO ESPECIAL</span> ?</p>
                    <p class="second">LLÁMAME O ENVÍAME UN EMAIL</span>
                </div>
                <div class="button-container">
                    <a href="/contact">CONTACTAR</a>
                 </div>
            </div>
        </div>
        <div class="recuerdos-container">
            <p class="first">"RECUERDOS IMBORRABLES</p>
            <p class="second">SOBRE LA ARENA"</p>
        </div>
    </section>
    <section class="photos-section">
        <div class="first-row">
            <img src="static/media/images/1.png">
            <img src="static/media/images/2.png">
            <img src="static/media/images/3.png">
            <img src="static/media/images/4.png">
            <img src="static/media/images/5.png">
        </div>
        <div class="second-row">
            <img src="static/media/images/6.png">
            <img src="static/media/images/7.png">
            <img src="static/media/images/8.png">
            <img src="static/media/images/9.png">
            <img src="static/media/images/10.png">
        </div>
    </section>
    <section class="third-section">
        <div>
            <img src="/static/media/images/waves_yellow.png">
            <h1>Land Art / Sand Art</h1>
            <p>El Land Art (arte de la tierra) es una corriente artística contemporánea que nace en los años 60 y que se desarrolla a 
            través de la utilización de la naturaleza como marco y elemento de expresión. <span class="orange">El Sand Art (arte de la arena) es una rama concreta del 
            mismo en la que se usa como materia prima la arena de la playa únicamente.</span></p>
            <p>CALART es un grupo de profesionales que junto al artista, German Cedano, conocido como, Calat 33, hacemos uso del arte efímero como una herramienta de concienciación y respeto al medio ambiente.</p>
        </div>
    </section>
    <section class="fourth-section">
        <div class="first">
            <h1>Nuestro Objetivo</h1>
        </div>
        <div class="second">
            <div>
                <h1>1</h1>
                <h2>Promover sostenibilidad</h2>
                <p>Creamos arte efímero que promueve y difunde los valores de las empresas sobre sostenibilidad, cero impacto ambiental, y respeto al uso de los recursos naturales.</p>
            </div>
            <div>
                <h1>2</h1>
                <h2>Colaboraciones que importan</h2>
                <p>Realizamos colaboraciones con entidades sin ánimo de lucro que pretendan crear un impacto en relación con los valores de justicia social, sostenibilidad y equidad.</p>
            </div> 
             <div>
                <h1>3</h1>
                <h2>Marcar la diferencia</h2>
                <p>Impartimos talleres de concienciación y sensibilización medioambiental que integren diversos aspectos de la realidad natural más cercana (mareas, fases lunares, meteorología…).</p>
            </div>
        </div>
    </section>
    <section class="fifth-section">
        <div class="vision-container">
            <h1>Visión</h1>
            <p>Soñamos con formar parte de un movimiento que <span>inspire confianza hacia un futuro mejor,</span> en donde organizaciones como la nuestra no sean la excepción, sino la regla.</p>
            <p><span>Disfrutando el privilegio de pertenecer a un todo común, compartido y transparente.</span></p>
        </div>
        <div class="mision-container">
            <h1>Misión</h1>
            <p><span>Tenemos el propóstio de incentivar, inspirar, y manifestar el amor y el respeto de las empresas y organizaciones hacia el medio ambiente.</span></p>
            <p>Mediante una diáfana gestion de los recursos empleados y una devoto respeto hacia la Pachamama.</p>
        </div>
    </section>
    <section class="second-section">
        <div class="zen-container">
            <div class="image-wrapper sand-background">
                <div class="letters-container second">
                    <p class="first">¿QUIERES HACER VISIBLE <span class="black">LOS VALORES DE TU EMPRESA</span> ?</p>
                    <p class="second">LLÁMAME O ENVÍAME UN EMAIL</span>
                </div>
                <div class="button-container">
                    <a href="/contact">CONTACTAR</a>
                 </div>
            </div>
        </div>
        <div class="recuerdos-container">
            <p class="first">"QUE TU MARCA</p>
            <p class="second">DEJE HUELLA"</p>
        </div>
    </section>
    <section class="photos-section">
        <div class="first-row">
            <img src="static/media/images/1.png">
            <img src="static/media/images/2.png">
            <img src="static/media/images/3.png">
            <img src="static/media/images/4.png">
            <img src="static/media/images/5.png">
        </div>
        <div class="second-row">
            <img src="static/media/images/6.png">
            <img src="static/media/images/7.png">
            <img src="static/media/images/8.png">
            <img src="static/media/images/9.png">
            <img src="static/media/images/10.png">
        </div>
    </section>
</main>
{% endblock %}
