<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Calat33: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/main.css">
        {% block stylesheet %}{% endblock %}
        <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
        </style>
        <script src="../static/js/index.js"></script>
    </head>
    <body>
        <header>
            <div class="info">
                <ul class="contact-header" id="media">
                    <li>
                        <img src="https://icongr.am/material/phone.svg?size=23&color=ffffff">
                        <span>+34 635 556 523</span>
                    </li>
                    <li>
                        <img src="https://icongr.am/material/email.svg?size=23&color=ffffff">
                        <span><a href="mailto:info@calat33.com" target="_blank">info@calat33.com</a></span>
                    </li>

                </ul>
                <ul class="icons-media">
                    <li>
                        <a href="https://instagram.com/calat33">
                            <img src="https://icongr.am/material/instagram.svg?size=23&color=ffffff">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/CALAT-33-169199418110806">
                            <img src="https://icongr.am/material/facebook.svg?size=23&color=ffffff">
                        </a>
                    </li>
                </ul>
            </div>
            <nav>
                <div class="logo">
                    <a href="/" class="anchor-logo"><img src="/static/media/logos/calat_orange_front.png"></a>
                </div>
                <div class="links" id="media">
                    <a href="/">INICIO</a>
                    <a href="/artista">EL ARTISTA</a>
                    <a href="/servicios">SERVICIOS</a>
                    <a href="/colaboraciones">COLABORACIONES</a>
                    <a href="/contacto">CONTACTO</a>
                </div>
                <svg class="hide open-sidebar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-menu" width="55" height="55" viewBox="0 0 24 24" fill="#ff6b22"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/></svg>
            </nav>
        </header>
        <div class="hide" id="sidebar">
            <a href="/">INICIO</a>
            <a href="/artista">EL ARTISTA</a>
            <a href="/servicios">SERVICIOS</a>
            <a href="/colaboraciones">COLABORACIONES</a>
            <a href="/contacto">CONTACTO</a>
        </div>
        {% block body %}{% endblock %}
        <footer>
            <div class="first-footer">
                <div class="logo-footer">
                    <img src="/static/media/logos/calat_white_front.png" alt="Calat33 logo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur eu urna id tincidunt. Sed nec arcu eget magna lacinia pretium.</p>
                </div>
                <div class="footer-links"> 
                    <p><b>Menu</b></p>
                    <ul>
                        <li><a href="/">Calat33</a></li>
                        <li><a href="/artista">El artista</a></li>
                        <!-- <li><a href="/talleres">Talleres</a></li> -->
                        <li><a href="/servicios">Servicios</a></li>
                        <li><a href="/colaboraciones">Colaboraciones</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer-links"> 
                    <p><b>En los medios</b></p>
                    <ul>
                        <li><a
                                    href="https://www.diariovasco.com/san-sebastian/mimo-director-cine-20190613001658-ntvo.html">Diario
                                    Vasco</a>
                        </li>
                        <li><a
                                    href="https://www.eitb.eus/es/grupo-eitb/maraton-eitb/videos/detalle/8524778/bideoa-german-cedano-realiza-obra-relacionada-con-eitb-maratoia-en-la-concha/?_gl=1*1u989bs*_ga*S2NLZkEzTFBPNE54RTNrM1dtY2F2ZDJOQmpJZTZ4UFpKN0lMWml4alZwa3gtX09hdDVvZnkyLV8wVzZnQkVjTw">Eitb
                                    2021</a>
                        </li>
                        <li><a
                                    href="https://www.eitb.eus/es/radio/radio-euskadi/programas/ganbara/detalle/7252798/calat33-volvera-palabra-resiliencia/">Eitb
                                    2020</a>
                        </li>
                        <li><a href="https://kzread.info/dash/el-artista-de-la-playa/jH-lpKh7lNPcgpc.html">El artista de
                                la playa</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <ul>
                        <p><b>Contacto</b></p>
                        <li class="contact-footer">
                            <img src="https://icongr.am/material/phone.svg?size=23&color=ffffff">
                            <span>+34 635 556 523</span>
                        </li>
                        <li class="contact-footer">
                            <img src="https://icongr.am/material/email.svg?size=23&color=ffffff">
                            <span>info@calat33.com</span>
                        </li>
                        <ul>
                </div>
            </div>
            <div class="last-footer">
                <p>© 2022 Todos los derechos reservados.</p>
            </div>
        </footer>
        <div id="fullpage" onclick="this.style.display='none';"></div>
    </body>
</html>
